// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';
@import 'components/dialogs/roll';

/* Styles limited to openlegend sheets */
.openlegend {
  @import 'components/actor/actions';
  @import 'components/actor/attributes';
  @import 'components/actor/character';
  @import 'components/actor/defense';
  @import 'components/actor/details';
  @import 'components/actor/gear';
  @import 'components/actor/main';
  @import 'components/actor/npc';
  @import 'components/items/main';
  @import 'components/tabs';

  /* Header Summary Details */
  font-family: "Modesto", "Palatino Linotype", serif;

  .forceful {
    text-transform: capitalize;
    font-variant: small-caps;
    font-weight: bold;
  }

  .large {
    font-size: large;
  }

  .aligned {
    align-items: center;
  }

  .h-divider {
    border-bottom: $borderGroove;
  }

  input {
    height: auto;
  }

  .capitalize {
    text-transform: capitalize;
  }
}
