<a class="rollable macro" title="Roll" draggable="true"
    data-macro="item"
    data-name="{{item.name}}"    
    data-item="{{item._id}}"><i class="fas fa-dice-d10"></i></a>
<input class="action-edit" data-item="{{item._id}}" data-field="action_name" type="text" value="{{item.data.action.name}}"\>
<div class="action-type">{{item.type}}</div>
<select class="action-edit action-attribute" data-item="{{item._id}}" data-field="attack">
    <option></option>
    {{#each item.data.attacks as |attack|}}
    <option class="action-attribute" value="{{attack.attribute}}" {{#ifeq attack.attribute ../item.data.action.attribute}} selected{{/ifeq}}>{{attack.attribute}}</option>
    {{/each}}
</select>
<div>vs</div>
<div>
{{#each item.data.attacks as |attack|}}
    {{#ifeq attack.attribute ../item.data.action.attribute}}
        {{attack.target}}
    {{/ifeq}}
{{/each}}
</div>
<input class="action-edit action-adv" data-item="{{item._id}}" data-field="action_adv"
        type="number" value="{{item.data.action.default_adv}}"/>
<input class="action-edit" data-item="{{item._id}}" data-field="notes"
        type="text" value="{{item.data.details.notes}}" placeholder="Quick notes"\>
<a class="item-control item-edit" title="Edit" data-item="{{item._id}}"><i class="fas fa-edit"></i></a>
<a class="item-control action-move-up" title="Move" data-item="{{item._id}}"><i class="fas fa-arrow-up"></i></a>
<a class="item-control item-delete" title="Delete" data-item="{{item._id}}"><i class="fas fa-trash"></i></a>