<form class="{{cssClass}} item-sheet" autocomplete="off">
    <header class="header flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-details">
            <div class="flexrow">
                <h1 class="item-name">
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>
    
                <div class="item-subtitle">
                    <h4 class="item-type">{{item.type}}</h4>
                    <span class="scale-tester" hidden></span>
                    <input class="item-status scale" name="data.categories"
                            type="text" value="{{data.data.categories}}" placeholder="Categories"/>
                </div>
            </div>
            <ul class="summary flexrow">
                <li class="flexrow">
                    <input type="text" name="data.properties" value="{{data.data.properties}}" placeholder="Properties"/></li>
                <li class="shrink">WL: 
                    <input class="wl" type="text" name="data.gear.wl" value="{{data.data.gear.wl}}" placeholder="?"/></li>
            </ul>
        </div>
    </header>

    <section class="sheet-body">
        <div>
            <span class="action-header">Attacks</span>
            <ul class="action-list">
                {{#each data.data.attacks as |attack|}}
                    <li><span class="forceful">{{attack.attribute}}</span> vs <span class="forceful">{{attack.target}}</span></li>
                {{/each}}
            </ul>
            <div class="action-edit" hidden>
                <ul class="attack-list">
                    {{#each data.data.attacks as |attack|}}
                        {{> "systems/openlegend/templates/item/parts/attack-target.html" attack=attack attributes=../data.data.attributes}}
                    {{/each}}
                </ul>
                <div class="explosion-mod">
                    <label class="forceful">Explode on max minus:</label>
                    <input type="number" name="data.action.explosion_mod" value="{{data.data.action.explosion_mod}}"/>
                </div>
                <button class="add-attack">Add</button>
            </div>
            <button class="update-action">Edit</button>
            <div class="flexrow aligned">
                <span class="forceful shrink">Show action:</span>
                <input type="checkbox" name="data.action.show_as_action" {{#if data.data.action.show_as_action}}checked{{/if}}/>
            </div>
        </div>
        <div class="description-editor">
            <div class="flexrow aligned">
                <span class="forceful shrink">Banes:&nbsp</span>
                <input type="text" name="data.banes" value="{{data.data.banes}}" placeholder="?"/>
            </div>
            {{editor content=data.data.details.description target="data.details.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
